html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

.card {
  height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
